@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: 
   Date:   
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
/* These style affect the html and body elements to change their widths and heights, and to align the body to the center of the page. */
html {
    height: 100%;
}

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

/* Theses styles simply give a border box model to all header, navigation, unordered list, list items, anchor elements. */
header,
nav,
ul,
li,
a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Row Styles */
/* This style sets any element with the "row" class to clear both margins and display it as table with a content of none after the element.  */
.row::after {
    clear: both;
    content: "";
    display: table;
}




/* Page Header Styles */
/* These styles affect the page header and the image, navigation, and anchor elements within it to display them as block, float them in the left margin, set their widths, and give some padding to the nav. */
header img {
    display: block;
    float: left;
    width: 70%;
}

header nav {
    float: left;
    padding: 0% 2% 0% 2%;
    width: 30%;
}

header a {
    display: block;
    width: 100%;
}




/* Horizontal Navigation List Styles */
/* This style displays navigation list items with the class of "horizontal" as block, floats them left, and sets the width to 12.5%. */
nav.horizontal li {
    display: block;
    float: left;
    width: 12.5%;
}




/* Topics Styles */
/* These styles affect elements with the ID of "topics" to change their display, widths, and margins. */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin: 0% 1.5% 0% 1.5%;
}

#topics:first-of-type {
    margin-left: 7.5%;
}

#topics:last-of-type {
    margin-right: 7.5%;
}

#topics img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* HR Styles */
/* This style just sets the width of horizontal rules to 50%. */
hr {
    width: 50%;
}




/* Customer Comment Styles */
/* These styles affect elements with the "comments" ID as well as elements nested within them to change their display, margins, and the way it is floated. */
ul#comments {
    margin: 40px auto 40px auto;
    width: 75%;
}

#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

#comments li>img {
    display: block;
    width: 20%;
    margin: 0% 5% 0% 5%;
}

#comments p {
    float: left;
    width: 70%;
}

#comments img {
    display: block;
    width: 20%;
    float: left;
    margin: 0% 5% 0 5%;
}

/* Footer Styles */
/* This style simply tells the footer to clear all content in both margins. */
footer {
    clear: both;
}